# Lesson 54
# A lot of this is Github specific.
name: deploy-container

on:
  push:
    branches:
      - master
      # Only runs this when something changed inside container/**
    paths:
      - 'packages/container/**'

defaults:
  run:
    # Sets our exec environment to inside our container folder.
    # eg: yarn, etc.
    working-directory: packages/container

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn build

      - uses: chrislennon/action-aws-cli@v1.1
      - run: aws s3 sync dist s3://${{ secrets.AWS_S3_BUCKET_NAME }}/container/latest
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}